body{
    background-image:url(hex.png);
    background-attachment:fixed;
}
 /* div / footer things with column and rows */
div.name{
    width:100%;
    padding:12px 20px;
    margin:8px 0;
    box-sizing:border-box;
}

footer,.column,.row{
    display:flex;
    flex-direction:column;
    width:50vw;
    border:2px solid #000;
    margin:0 auto;
    background-image:linear-gradient(transparent,#b97cd7);
}
 /* input  */
select,input[type=\"submit\"]{
    border-radius:5px;
}
/* img */
.Hero{
    width:100%;
    height:auto;
    border-radius:0 0 8px 8px;
}
/* column for prices.html */
.column{
    display:flex;
    justify-content:space-around;
    flex-direction:column;
    width:48%;
    border:solid #000;margin:1%;
    height:100%;
}
/* content for the amenities */
.content_amen p{
    text-decoration:none;
    font-size:1.5rem;
    font-weight:lighter;
}

.content_amen{
    margin:5px 15px;
    border:solid #000 2px;
    padding:15px;
    font: Georgia,\'Times New Roman\',Times,serif;
}

.content_amen h2 {
    font-size:2rem;
    font-weight:bolder;
}

/* form stuff */
.form_submit:active{
    background-color:#319835;
}

.text {
    padding:none;
    border:none;
    width: 6em;
}

.form_submit{
    margin:0 auto;
    background-color:#44b747;
    border:2px #44b747;
    border-radius:15px;
    color:#fff;
    padding:5px 25px;
    text-align:center;
    text-decoration:none;
    display:inline-block;
    font-size:16px;
}

.form_title{
    display:flex;
    justify-content:center;
}

.form{
    display:flex;
    flex-direction:row;
    justify-content:center;
}
/* img's */

.main_img_2{
    width:5vw;
}

.main_img{
    width:15vw
}
/* nav */
.nav_bar ul li a{
    text-decoration:none;
    background-color:transparent solid;
    padding:10px;
}

.about:hover,
.experience:hover,
.amenities:hover,
.prices:hover {
    margin:15px 0px;
    background-color:rgb(243, 160, 243);
    border-radius: 15px;
}

.nav_bar ul{
    font-size:2vw;
    display:flex;
    width:100%;
    text-decoration:none;
    list-style-type:none;
    justify-content:space-between;
    align-items:center;
    padding:none;
    font-family:\'Times New Roman\',Times,serif;
    font-weight:700;
}

.nav_bar{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    border:solid #000;
    background-image:linear-gradient(transparent,#c58de0);
}

a:after,
a:before {
    color:#b97cd7;
}

/* preview stuff for index */
.exp_prev,
.pri_prev,
.abt_prev {
    text-align: center;
    border-style: double;
    width: 492px;
    height: 200px;
}

.exp_prev p,
.pri_prev p,
.abt_prev p {
    display: flex;
    justify-content: center;
    padding: 20px;
    font-size: 15px;
}

/* index page trying to align the three boxes */
.main-2 {
    display: flex;
    justify-content: space-evenly;

}

/* row's */
.row-1{
    display:flex;
    justify-content:space-evenly;
    flex-direction:row;
}

.row{
    display:flex;
    justify-content:space-around;
    flex-direction:row;
    width:48%;
    border:solid #000;
    margin:1%;
    height:100%;
}
/* search  */
.search{
    display:flex;
    justify-content:center;
    align-items:center;
}

#search{
    border:solid #000 1px;
    border-radius:10px;
    padding:15px;
}
/* tour/prices html file */
.tour,.price{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    margin:10px 0;
    height:100%;
}

.tours{
    display:flex;
    width:20vw;
    justify-content:center;
    align-items:center;
}
/* review stuff */
.review {
    font-size:1rem;
    
}

.rev {
    display:flex;
    align-items:center;
    flex-direction:column;
    width:50%;
}

.rev-cont {
    display:flex;
    justify-content:space-around;
    align-items:center;
    flex-direction:row;
    border:black solid;
    margin:15px;
    background-image:linear-gradient(transparent,#c58de0);
}

.review-img {
    width:auto;
    height:100px;
}
