
.main_img {
    width:15vw;
}

.nav_bar {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    border: solid black;
}

.nav_bar ul {
    display: flex;
    width: 90%;
    text-decoration: none;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
    padding:none;
}

.nav_bar {
    border: solid black;
    background-image: linear-gradient(transparent, rgb(135, 173, 250) );
}

.main_img_2 {
    width: 5vw;
}

.row-1 {
    display:flex;
    justify-content:space-evenly;
    flex-direction:row;
}

.content_amen {
    margin: 5px 15px;
    border:solid black 2px;
    padding: 15px 15px;
}

.content_amen p {
    font-size: 18px;
    text-decoration: none;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

div.name {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.form  {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.form_title {
    display: flex;
    justify-content: center;
}

.form_submit {
    margin: 0% auto;

    background-color: #44b747; 
    border: 2px #44b747;
    border-radius: 15px;
    color: white;
    padding: 5px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;


}



footer {
    display: flex;
    flex-direction: column;
    width: 50vw;
    border: 2px solid black;

    margin: 0% auto;
    
    background-image: linear-gradient(transparent, rgb(135, 202, 250));
}