
.main_img {
    width:15vw;
}

.nav_bar {
    width:100vw;
    display:flex;
    flex-direction:row;
    justify-content:center;
}

.nav_bar ul {
    display: flex;
    width: 80vw;
    text-decoration: none;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
}

.nav_bar {
    border: solid black;
    background-image: linear-gradient(transparent, rgb(135, 173, 250) );
}

.main_img_2 {
    width: 5vw;
}